h1{
  font-size: 4em;
  text-align: center;
}

h2{
  display: none;
  text-align: center;
  font-size: 5em;
}

p{
  text-align: center;
  font-size: 2em;
}

ul {
  padding: 0;
  text-align: center;
  font-size: 1.5em;
}

li {
  display: inline;
  padding: .2em 1em;

  }

.content {
  margin-top: 3em;
}

.answer {
  margin: 4em;
}
